.main-page-container {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-page-container .sidebar-container {
  width: 15%;
}
.main-page-container .box-container {
  width: 82%;
}