.my-text{
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #8a8a8a;
  padding: 5px 10px;

  &::placeholder{
    color: black;
    text-indent: 10px;
    align-items: center;
  }
}