.ui-pass-input-container {
  display: flex;

  .ui-pass-input {
    outline: none;
    border: none;
    background-color: #8a8a8a;
    text-indent: 10px;
    color: #000000;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 100%;
    width: 90%;

    transition: .75s ease;

    &::placeholder {
      color: inherit;
      text-indent: 10px;
    }


  }

  .ui-sh-button{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    outline: none;
    border: none;
    background-color: #8a8a8a;
    height: 100%;
    width: 10%;
    cursor: pointer
  ;

    .icon{
      background-color: transparent;
      font-size: 300%;
      display: flex;
      align-items: center;
      color: #232323;
      transition: .75s ease;


    }
  }
}